.page-content {
  margin: 1rem 0rem;
}

.card {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: none !important;
  border-radius: 5px !important;
}

.card-img-top {
  background-size: cover;
  background-position: center;
  height: 15rem;
  border: none !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.card-footer {
  background-color: hsl(210, 16%, 93%) !important;
  color: hsl(0, 0%, 35%) !important;
  border-top: none !important;
  transition: all 0.15s ease;
}

.card-footer:hover {
  background-color: hsl(210, 16%, 53%) !important;
  color: white !important;
  text-decoration: none !important;
}

#card-1 {
  background-image: url('/assets/einstein.jpg');
}

#card-2 {
  background-image: url('/assets/paper.jpg');
}

#card-3 {
  background-image: url('/assets/quiz.jpg');
}

.question-page {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 2rem;
  align-content: center;
  justify-content: center;
}

.question {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 1rem;
  background-color: #e9ecef;
  border-radius: 18px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.question-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  background-color: hsl(210, 16%, 33%);
  color: white;
  border-radius: 18px;
  padding: 0.5rem 1.5rem;
  font-weight: 900;
  text-align: center;
}

.question-text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  font: 1.2rem Georgia, serif;
  text-align: center;
  padding: 0rem 10rem;
}

.question-name {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font: italic 1.2rem Georgia, serif;
  font-weight: 700;
  text-align: center;
}

.question-answer {
  cursor: pointer;
  background-color: white;
  border-radius: 18px;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.question-answer:hover {
  background-color: hsl(210, 16%, 53%);
  color: white;
}

.question-real {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.question-fake {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
